#Dont push database
db.sqlite3
static/
.directory
.idea/
api/tmp
!api/tmp/.gitkeep

#dont push media files
**/uploaded_media/*
!**/uploaded_media/.gitkeep

#ignore pycache
api/__pycache__/
api/__pycache__/views.cpython-36.pyc
api/__pycache__/views.cpython-34.pyc